
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');

html{
	font-size: 17px;
	font-family: "Noto Sans JP", sans-serif;
	/* font-family: "Noto Sans JP", 'Noto sans','Hiragino Kaku Gothic ProN','游明朝','Yu Mincho','YuMincho',serif; */
	color: #111;
}

*{
	margin: 0;
	padding: 0;
}

body {
	line-height:  194%; /*行間指定*/
	letter-spacing: 3.6px;/*字間指定*/
    background-color: #009FBA;
}

li {
	list-style:none; /*箇条書きのマーカー（黒っぽち）を消す*/
}

a {
	text-decoration: none;
	color:inherit
}

a:hover {
	text-decoration: underline;
	/* color: #008B9C; */
}

img {
	vertical-align: bottom; /*画像の上下方向の隙間を無くすために指定*/
	width: 100%;
	height: auto;
}

button {
	border: none;
	background: none;
	color: #111;
}
/* ↑↑ここまで固定↑↑ */

h3 {
	font-size: 24px;
	line-height: 194%; /* 50.44px */
}
.title {
    font-size: 2.5em;
    color: #fff;
    margin: 0;
}

.center {
	margin: 0 auto;
}
.main-section {
	max-width: 1000px;
	padding: 105px 27px;
}

.heading-img {
	height: 64px;
	width: auto;
	text-align: center;
	margin-bottom: 30px;
}

.line {
	max-width: 1230px;
	width: 90%;
	margin: auto;
	border: 1px solid #000;
}


/* 和英切り替えボタン */

nav.tabs__nav {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	width: 100%;
	padding: 0;
	margin: 0 0 55px 0;
	border: none;
}

.tabs__item.active {
	background: #000;
	color: #FFF;
}
a.tabs__item {
	display: inline-block;
	width: 120px;
	text-align: center;
	transition: all 0.2s ease;
	padding: 0;
	line-height: 50px;
	text-decoration: none;
	border: 2px solid #000;
	color: #000;
}

[data-tab-content]{
	display: none
}

[data-tab-content].active{
	display: block;
}



.language-toggle {
	display: inline-block;
	border: 2px solid #000;
	border-radius: 5px;
	overflow: hidden;
  }

  .lang-btn {
	padding: 10px 20px;
	border: none;
	cursor: pointer;
	font-size: 18px;
  }

  #jp-btn {
	background-color: black;
	color: white;
  }

  #en-btn {
	background-color: #5faac4;
	color: black;
  }

  .lang-btn.active {
	background-color: black;
	color: white;
  }

/* ↑↑共通↑↑ */


.align-right {
	text-align: right;
}


.mv{
	/* background-color: aquamarine; */
	display: flex;
	justify-content: center;
}

.mv img {
	padding-top: 150px;
    padding-bottom: 15px;
    height: 600px;
	width: auto;
}


#about h2, #artist h2, #event h2, #gallery h2, #movie h2, #information h2, #access h2,  #gallery-page h2 {
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
}

header {
    text-align: center;
    background-color: #fff;
	padding: 7px;
}

header nav ul li {
    display: inline-block;
    margin: 0 20px;
	font-weight: 700;
}

/* artist */
.artist_container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.artist_box {
	position: relative;
    margin: 30px 0;
    width: 260px;
	height: 184px;
    text-align: center;
	border: 3px solid #000;
	display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.artist-name {
	position: absolute;
	padding-bottom: 20px;
	letter-spacing: 7.54px;
	font-weight: 500;
	line-height: 160%;
}

.more {
	position: absolute;
    bottom: 25px;
	font-size: 14px;
	line-height: 194%; /* 27.16px */
	letter-spacing: 4.06px;
}

/* モーダルウィンドウ */
.modal {
	display: none;
	position: fixed;
	z-index: 100;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	overflow: auto;
	background-color: rgba(0,0,0,0.50);
}

.modal__content {
	background-color: #FFF;
	border-radius: 30px;
	width: 660px;
	padding: 0 40px;
	animation-name: modal_open;
	animation-duration: 1s;
	position: absolute;
	top: 30px;
	left: calc(50% - 700px /2);
}

.modal_close {
	display: flex;
	justify-content: flex-end;
	padding-top: 20px;
	font-size: 25px;
}

.modal_main .work_name {
	font-size: 10px;
	padding-top: 15px;
}


/* モーダル　テキスト */
.modal__artist-name {
	font-size: 24px ;
	font-weight: 500;
	margin-bottom: 20px;
}
.modal__heading {
	font-size: 14px;
	letter-spacing: 2.6px;
	font-weight: 500;
}

.modal__artist-text {
	font-size: 13px;
	letter-spacing: 2.6px;
}

.modal__artist-career {
	margin-bottom: 30px;
}

.modal__text-box {
	margin-bottom: 40px;
}

.table th {
	font-weight: normal;
	vertical-align: top;
	white-space: nowrap;
}


/* Event */
.text-item__title {
	font-size: 22px;
	margin: 36px 0px 21px 0px;
}

.text-item__text
{
	margin-bottom: 27px;
}


/*  gallery*/
/*==================================================
スライダーのためのcss
===================================*/
.swiper {
	width: 100%;
	height: 100%;
	text-align: center;
	--swiper-pagination-color: #000;  /* ページネーション、アクティブ時のドットの色 */
}

.swiper-button-next:after, .swiper-button-prev:after {
    content: none;   /* デフォルトの矢印を消す */
}

.swiper-button-next, .swiper-button-prev {
	--swiper-navigation-color: #111; /* 矢印の色 */
	height: 17px;
	width: 17px;
	border-top: 4px solid #111;
	border-right: 4px solid #111;
}

.swiper-button-next{
	right: 1.5%;
	transform: rotate(45deg);
}

.swiper-button-prev{
	left: 1.5%;
	transform: rotate(-135deg);
}

.swiper-slide img {
	width: auto;/*スライダー内の画像を横幅100%に*/
	max-height: 370px;
	margin: 0 auto;
}

.swiper-slide {
	margin-bottom: 35px;
}


/*=========　　　モーダルスライダーのためのcss　　　==========*/

.modal_swiper-slide img {
	max-height: 300px;
}



.work_name {
	font-size: 14px;
	padding-top: 15px;
}

/* galleryのmoreボタン */
.gallery_more-link
{
	margin-top: 100px;
	text-align: center;
}
.more-link
{
	display: inline-grid;
	width: 238px;
    height: 60px;
	flex-shrink: 0;
	position: relative;
	border: 2px solid #000;
}

.more-link button {
	font-size: 16px;
}

/* galleryページの撮影者テキスト */
.center-text {
	text-align: center;
	margin-top: 50px;
}

/* movie */
.movie__link {
	margin: auto;
	display: block;
	max-width: 788px;
	width: 100%;
    aspect-ratio: 16 / 9;

}

/* information */
.information__title {
	text-align: center;
	letter-spacing: 1.5px;/*字間指定*/
}


.sns-link {
	margin-top: 27px;
}
.sns-items {
	display: flex;
	justify-content: space-between;
	margin-top: 15px;
	width: 205px;
}

.sns-items li img{
	height: 45px;
	width: auto;
}


/* access */
.access__map {
	max-width: 576px;
	height: auto;
	margin: 50px auto 75px auto;
    display: block;

}

/* footer */
footer {
    padding: 20px 27px;
    background-color: #fff;
	font-size: 14px;
}

.footer__inner {
    margin: auto;
    max-width: 1046px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}

footer img{
	width: 300px;
	height: auto;
	padding-top: 20px;
}



.photos_inner
{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;

}

.photos_inner img
{
	height: 160px;
	width: 160px;
	object-fit: cover;
	padding: 10px;
}


@media screen and (max-width: 799px){
	html
	{
		font-size: 16px;
	}
	body {
		letter-spacing: 2.6px;/*字間指定*/
	}
	.artist_box {
		width: 200px;
		height: 141px;
	}
	h3 {
	font-size: 20px;
	}
	.modal__content {
		min-width: 300px;
        width: 80%;
		padding: 0 25px;
        left: calc(50% - 88% / 2);
	}
	.modal_main .work_name {
		font-size: 9px;
		padding-top: 10px;
	}
	.swiper-slide img {
		max-height: 260px;
	}
}



@media screen and (max-width: 499px){
	.mv img {
		padding-top: 23%;
		width: 95%;
		height: auto;
	}
	.work_name {
		font-size: 10px;
		padding-top: 10px;
	}
	.slick-dots {
		margin: 0;
	}
	.artist_box {
		width: 260px;
		height: 184px;
    }
	.artist-name {
		font-size: 24px;
		}
	.modal__content {
        left: calc(50% - 93% / 2);
	}
	.swiper-slide img {
		max-height: 200px;
	}
	.modal_swiper-slide img {
		max-height: 160px;
	}
}

