
html{
	font-size: 17px;
	font-family: "Noto Sans JP", 'Noto sans','Hiragino Kaku Gothic ProN','游明朝','Yu Mincho','YuMincho',serif;
	color: #111;
  }

*{
	margin: 0;
	padding: 0;
}

body {
	line-height:  194%; /*行間指定*/
	letter-spacing: 3.6px;/*字間指定*/
    background-color: #009FBA;
}

li {
	list-style:none; /*箇条書きのマーカー（黒っぽち）を消す*/
}

a {
	text-decoration: none;
	color:inherit
}

a:hover {
	text-decoration: underline;
	/* color: #008B9C; */
}

img {
	vertical-align: bottom; /*画像の上下方向の隙間を無くすために指定*/
	width: 100%;
	height: auto;
  }

button {
	border: none;
	background: none;
}
/* ↑↑ここまで固定↑↑ */

h3 {
	font-size: 24px;
	line-height: 194%; /* 50.44px */
}
.title {
    font-size: 2.5em;
    color: #fff;
    margin: 0;
}

.center {
	margin: 0 auto;
}
.main-section {
	max-width: 1000px;
	padding: 105px 27px;
}
.heading-img {
	height: 64px;
	width: auto;
	text-align: center;
	margin-bottom: 30px;
}

.line {
	max-width: 1230px;
	width: 90%;
	margin: auto;
	border: 1px solid #000;
}

.text-item {
	width: 800px;
	margin: auto;
}


/* 和英切り替えボタン */

nav.tabs__nav {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	width: 100%;
	padding: 0;
	margin: 0 0 55px 0;
	border: none;
}

.tabs__item.active {
	background: #000;
	color: #FFF;
}
a.tabs__item {
	display: inline-block;
	width: 120px;
	text-align: center;
	transition: all 0.2s ease;
	padding: 0;
	line-height: 50px;
	text-decoration: none;
	border: 2px solid #000;
	color: #000;
}

[data-tab-content]{
	display: none
}

[data-tab-content].active{
	display: block;
}



.language-toggle {
	display: inline-block;
	border: 2px solid #000;
	border-radius: 5px;
	overflow: hidden;
  }

  .lang-btn {
	padding: 10px 20px;
	border: none;
	cursor: pointer;
	font-size: 18px;
  }

  #jp-btn {
	background-color: black;
	color: white;
  }

  #en-btn {
	background-color: #5faac4;
	color: black;
  }

  .lang-btn.active {
	background-color: black;
	color: white;
  }

/* ↑↑共通↑↑ */


.align-right {
	text-align: right;
}


.mv{
	background-color: aquamarine;
	display: flex;
	justify-content: center;
}

.mv img {
	padding-top: 150px;
	padding-bottom: 13px;
	height: 800px;
	width: auto;
}


#about h2, #artist h2, #event h2, #gallery h2, #movie h2, #information h2, #access h2 {
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
}

header {
    text-align: center;
    background-color: #fff;
	padding: 7px;
}

header nav ul li {
    display: inline-block;
    margin: 0 20px;
	font-weight: 700;
}

/* artist */
.artist_container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.artist_box {
	position: relative;
    margin: 30px 0;
    width: 260px;
	height: 184px;
    text-align: center;
	border: 3px solid #000;
	display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.artist-name {
	position: absolute;
	padding-bottom: 20px;
	letter-spacing: 7.54px;
	font-weight: 500;
	line-height: 160%;
}

.more {
	position: absolute;
    bottom: 25px;
	font-size: 16px;
	line-height: 194%; /* 27.16px */
	letter-spacing: 4.06px;
}

.modal {
	display: none;
	position: fixed;
	z-index: 100;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	overflow: auto;
	background-color: rgba(0,0,0,0.50);
}

.modal_content {
	background-color: #FFF;
	border-radius: 30px;
	width: 660px;
	padding: 0 40px;
	padding-bottom: 40px;
	animation-name: modal_open;
	animation-duration: 1s;
	position: absolute;
	top: calc(50% - 660px /2);
	left: calc(50% - 660px /2);
}


/* event */
.text-item__title {
	font-size: 22px;
	margin: 36px 0px 21px 0px;
}

.text-item__text
{
	margin-bottom: 27px;
}


/*  gallery*/


/*==================================================
スライダーのためのcss
===================================*/
.slider-inner {/*横幅94%で左右に余白を持たせて中央寄せ*/
	width:94%;
	 margin:0 auto;
	 text-align: center;
}

.slider-inner img {
	 width:auto;/*スライダー内の画像を横幅100%に*/
	 max-height: 460px;
	 margin: 0 auto;
}

 /*slickのJSで書かれるタグ内、スライド左右の余白調整*/

.slider-inner .slick-slide {
	margin:0 10px;
}

 /*矢印の設定*/

 /*戻る、次へ矢印の位置*/
.slick-prev,
.slick-next
{
	position: absolute;/*絶対配置にする*/
	top: 42%;
	cursor: pointer;/*マウスカーソルを指マークに*/
	outline: none;/*クリックをしたら出てくる枠線を消す*/
	border-top: 4px solid #111;/*矢印の色*/
	border-right: 4px solid #111;/*矢印の色*/
	height: 24px;
	width: 24px;
}

.slick-prev {/*戻る矢印の位置と形状*/
	left: -1.5%;
	transform: rotate(-135deg);
}

.slick-next {/*次へ矢印の位置と形状*/
	right: -1.5%;
	transform: rotate(45deg);
}

 /*ドットナビゲーションの設定*/

.slick-dots {
	text-align:center;
	margin:30px 0 0 0;
}

.slick-dots li {
	display:inline-block;
	margin:0 5px;
}

.slick-dots button {
	 color: transparent;
	 outline: none;
	 width:8px;/*ドットボタンのサイズ*/
	 height:8px;/*ドットボタンのサイズ*/
	 display:block;
	 border-radius:50%;
	 background:#111;/*ドットボタンの色*/
 }

 .slick-dots .slick-active button{
	 background:#FFF;/*ドットボタンの現在地表示の色*/
 }


.work_name {
	font-size: 14px;
	padding-top: 15px;
}

/* galleryのmoreボタン */
.gallery_more-link
{
	margin-top: 100px;
	text-align: center;
}
.more-link
{
	display: inline-grid;
	width: 238px;
    height: 60px;
	flex-shrink: 0;
	position: relative;
	border: 2px solid #000;
}


@media screen and (max-width: 799px){
	.more-link
	{
		margin: 40px auto;
	}
}
.more-link button {
	font-size: 16px;
}

/* movie */
.movie__link {
	display: block;
	margin: auto;
}
/* information */
.information__title {
	text-align: center;
	letter-spacing: 0.5px;/*字間指定*/
}

#information .text-item {

}
.sns-link {
	margin-top: 27px;
}
.sns-items {
	display: flex;
	justify-content: space-between;
	margin-top: 15px;
	width: 205px;
}

.sns-items li img{
	height: 45px;
	width: auto;
}


/* access */
.access__map {
	width: 576px;
	height: auto;
	margin: 50px auto 75px auto;
    display: block;

}

/* footer */
footer {
    padding: 20px 27px;
    background-color: #fff;
	font-size: 14px;
}

.footer-text{
	margin: auto;
    width: 1046px;
}
